{% with id=widget.attrs.id %}
  <div class="control"
    {% if id %} id="{{ id }}"{% endif %}
    {% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}
  >{% for group, options, index in widget.optgroups %}
    {% if group %}
      <div>
	<label>{{ group }}</label>
    {% endif %}
    {% for option in options %}
      {% if option.value %}
	{% include option.template_name with widget=option %}
      {% endif %}
    {% endfor %}
    {% if group %}
      </div>
    {% endif %}
  {% endfor %}
  </div>
{% endwith %}
