{% extends "base.html" %}
{% load utils_tags %}
{% block content %}
  <section class="section" id="console-root">
    <div class="container">
      {% block header %}
	<div class="level" >
	  <div class="level-left" >
	    <div class="level-item" >
	      <div class="content" >
		<h2 class="mb-0">{% block subtitle %}{{title}}{% endblock %}</h2>
	      </div>
	    </div>
	  </div>
	  <div class="level-right" >
	    {% block header_right %}
	    {% endblock %}
	  </div>
	</div>
      {% endblock %}
      {% block breadcrumbs %}
	{% if breadcrumbs %}
	  {% include "breadcrumb.html" %}
	{% elif title %}
	  {% breadcrumb title %}
	{% endif %}
      {% endblock %}
      {% block messages %}
        {% include "messages.html" %}
      {% endblock %}
      {% block inner %}{% endblock %}
    </div>
  </section>
{% endblock %}
