{% extends "base.html" %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
  <section class="section" >
    <div class="container" style="max-width:480px;">
      <h1 class="title" >{{request.site.setting.site_name}}</h1>
      <p class="block">您的邮箱: {{object.email}}</p>
      <form method="post" >
	{% csrf_token %}
	{% include "form_snippet.html" %}
	<div class="field mt-5" >
	  <button class="button is-primary is-fullwidth" type="submit">登录</button>
	</div>
      </form>
      <p class="content mt-5" >
	<a href="/accounts/password/reset/">忘记密码?</a>
      </p>
    </div>
  </section>
{% endblock %}
{% block extra_js %}
  <script>
   document.querySelector("form").addEventListener("submit", event => {
     event.submitter.classList.add("is-loading")
   })
  </script>  
{% endblock %}
