{% extends "base.html" %}
{% load static thumbnail %}
{% block extra_css %}
{{block.super}}
<style>
  .tabs{
    background:#faf8fb;
    margin:auto;
    border-radius:10px;
  }
  .tabs ul{
    border:none;
  }
  .tabs li{
    padding:5px 10px;
    border-radius:10px;
  }
  .tabs a {
    padding:0;
    border-bottom:none;
  }
  .tabs a:hover {
    color:#4258fe;
  }
  .tabs .is-active {
    background:#fff;
    color:#4258fe;
  }
  .avatar {
    width:fit-content;
    overflow:hidden;
    border-radius:10px;
    border: 3px solid rgba(255,255,255,0.6);
  }
  .avatar label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    display: none;
    padding: 1rem;
    align-items: center;
    text-align: center;
  }
  .avatar:hover label {
  display: inline-flex;
  }
</style>
{% endblock %}
{% block content %}
<section class="section pt-2">
  <div class="container is-max-desktop">
    <p class='title pt-6'>我的信息</p>
  </div>
  <div class="container is-max-desktop tabs is-centered is-text-black py-2 mt-5">
    <ul>
      <li class="m-1 {% if request.path == '/accounts/profile/' %}is-active{% endif %}"><a href="/accounts/profile/">基础信息</a></li>
      {% if request.site.setting.enabled_phonenumber %}
	<li class="m-1 {% if request.path == '/accounts/phone/change/' %}is-active{% endif %}"><a href="/accounts/phone/change/">修改手机号码</a></li>
      {% endif %}
      <li class="m-1 {% if request.path == '/accounts/email/' %}is-active{% endif %}"><a href="/accounts/email/">邮箱设置</a></li>
      <li class="m-1 {% if request.path == '/accounts/password/set/' %}is-active{% endif %}"><a href="/accounts/password/change/">修改密码</a></li>
    </ul>
  </div>
</section>
<section class="section pt-5" >
  <div class="container" style="max-width:420px;">
    {% include "messages.html" %}
    {% if request.path == '/accounts/profile/' %}
      <div class='mb-2'>
        <label class='label'>头像</label>
        <div class="avatar">
          <figure class="image is-64x64">
            {% if user.avatar %}
              {% thumbnail user.avatar "128x128" crop="center" as im %}<img src="{{im.url}}" />{% endthumbnail %}
            {% else %}
              <svg width="128" height="128" class="has-background-white" data-jdenticon-value="{{user.email}}"></svg>
            {% endif %}
            <form method="post" enctype="multipart/form-data" action="/accounts/update_avatar/?redirect={{request.get_full_path}}">
              {% csrf_token %}
              <label for="id_avatar" style='justify-content:center;color:#fff;'><span>编辑</span></label>
              <input name="avatar" id="id_avatar" type="file" class="is-hidden" accept="image/*" />
            </form>
          </figure>
        </div>
      </div>
    {% endif %}
    {% block inner %}
      <form method="post" style="max-width:600px;">
        {% csrf_token %}
        {% include "form_snippet.html" %}
        <div class="field is-grouped mt-6" >
          <p class="control" >
            <button type="submit" class="button is-primary" >保存</button>
          </p>
          <p class="control" >
            <button data-goback class="button" >取消</button>
          </p>
        </div>
      </form>
    {% endblock %}
  </div>
</section>
{% endblock %}
{% block extra_js %}
  {{block.super}}
  <script src="{% static 'server/js/cookies.js' %}"></script>
  <script src="{% static 'server/js/sms.js' %}"></script>  
  <script>
    document.getElementById("id_avatar").addEventListener("change", (e) => {
      e.target.closest("form").submit()
    })
  </script>
{% endblock %}
