{% load static %}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bulma.min.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    {% block extra_head %}{% endblock %}
    {% block css %}{% endblock %}
  </head>
  <body>
    {% block body %}
    {% block navbar %}
    {% include "navbar.html" %}
  {% endblock %}
  <section class="section">
    <div class="container" style="max-width:480px">
      {% include "messages.html" %}
      {% block content %}{% endblock %}
    </div>
  </section>
    {% block footer %}
    {% include "footer.html" %}
    {% endblock %}
    <script src="{% static "js/feather.min.js" %}"></script>
    <script>
    feather.replace()
    </script>
    {% block js %}{% endblock %}
    {% endblock %}
  </body>
</html>
