{% extends "base.html" %}

{% load i18n static %}
{% block extra_js %}
  <script src="{% static 'backend/js/cookies.js' %}"></script>
  <script src="{% static 'backend/js/sms.js' %}"></script>
{% endblock %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <section class="section">
    <div class="container" style="max-width:600px;">

      <h1 class="title">{% trans "Sign Up" %}</h1>

      <div class="block">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</div>

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% include "form_snippet.html" %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="field">
          <button type="submit" class="button is-primary is-fullwidth">{% trans "Sign Up" %} &raquo;</button>
        </div>
	<!-- <a href="/accounts/connect/" class="button is-fullwidth">Connect Wallet</a> -->
      </form>
    </div>
  </section>
{% endblock %}
