{% load static %}
{% if form.non_field_errors %}
  <div class="notification is-danger is-light">
    {{form.non_field_errors.0}}
  </div>
{% endif %}

{% for field in form %}
  <div class="field">
    {% with widget=field.field.widget %}
      {% if field.widget_type == "hidden" %}
	{{field}}
      {% elif field.widget_type == "dateduration" %}
	{{field}}
      {% elif field.widget_type == "staff" %}
	<label class="label">{{field.label}}</label>
	{{field}}
      {% elif field.widget_type == "richtext" %}
	<label class="label" >{{field.label}}</label>
	<textarea name="{{field.name}}" class="richtext">{% if field.value %}{{field.value}}{% endif %}</textarea>
	<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
	<script src="{% static 'tinymce/richtext.js' %}"></script>	
      {% elif field.widget_type == "usertree" %}
	<label class="label" >{{field.label}}</label>
	{{field}}
      {% elif field.widget_type == "checkboxselectmultiple" %}
	<label class="label">{{field.label}}</label>
	{% if field.field.widget.choices %}
	  <div class="control">
	    {% for radio in field %}
	      <label class="checkbox mr-3" for="{{radio.id_for_label}}">
		{{radio.tag}}
		{{radio.choice_label}}
	      </label>
	    {% endfor %}
	  </div>
	{% else %}
	  <div class="block has-text-grey">无可用数据</div>
	{% endif %}

      {% elif field.widget_type == "radioselect" %}
	<label class="label">{{field.label}}</label>
	<div class="control">
	  {% for radio in field %}
	    <label class="radio">
	      {#<input type="radio" name="{{field.name}}" />#}
	      {{radio.tag}}
	      {{radio.choice_label}}</label>
	  {% endfor %}
	</div>

      {% elif "checkbox" in widget.template_name %}
	{# 复选框 #}
	<label class="checkbox">
	  <input type="checkbox" name="{{field.name}}" {% if field.value %}checked{% endif %} />
	  {{field.label}}
	</label>

      {% elif field.name == "key" %}
	<label class="label">{{field.label}}</label>
	<div class="field has-addons">
	  <p class="control is-flex-grow-1">
	    <input type="tel" class="input" name="{{field.name}}" required>
	  </p>
	  <p class="control">
	    <a class="button" id="fetchButton">获取验证码</a>
	  </p>
	</div>

      {% elif field.widget_type == "selectmultiple" %}
	<label class="label" for="{{field.id_for_label}}" >{{field.label}}</label>
	<div class="select is-multiple" >
	  {{field}}
	</div>
      {% elif widget.input_type == "select" %}
	<label class="label" for="{{field.id_for_label}}">{{field.label}}</label>
	<div class="select is-fullwidth">
	  {{field}}
	</div>

      {% elif widget.format_key == "DATE_INPUT_FORMATS" %}
	<label class="label" for="{{field.id_for_label}}" >
	  {{field.label}}
	</label>
	<input class="input {% if field.errors %}is-danger{% endif %}"
	       id="{{field.id_for_label}}"
	       type="date"
	       value="{{field.value|date:"c"}}"
	       name="{{ field.name }}">

      {% elif widget.format_key == "DATETIME_INPUT_FORMATS" %}
	<label class="label" for="{{field.id_for_label}}" >
	  {{field.label}}
	</label>
	<input class="input {% if field.errors %}is-danger{% endif %}"
	       id="{{field.id_for_label}}"
	       type="datetime-local"
	       value="{{field.value|date:"c"}}"
	       name="{{ field.name }}">

      {% elif field.widget_type == "textarea" %}
	<label class="label" for="{{field.id_for_label}}">{{field.label}}</label>
	<textarea class="textarea" name="{{field.name}}" {% if field.field.required %}required{% endif %}>{% if field.value %}{{field.value}}{% endif %}</textarea>

      {% elif widget.input_type == "file" %}
	{# 文件 #}
	<label class="label" for="{{field.id_for_label}}">{{field.label}}</label>
	{% if field.value %}
	  当前: <a href="{{ field.value.url }}">{{field.value}}</a>
	  {% comment %}
	  <a href="{{ field.value.url }}">
	  <figure class="image is-128x128">
          <img src="{{field.value.url}}" />
	  </figure>
	  </a>
	  {% endcomment %}
	{% endif %}
	<input class="input {% if field.errors %}is-danger{% endif %}" type="{{ widget.input_type }}" name="{{ field.name }}" {% if field.value != None %} value="{{ field.value|stringformat:'s' }}"{% endif %} {% include "attrs.html" %}>

      {% else %}
	<label class="label" for="{{field.id_for_label}}">{{field.label}}</label>
	<input class="input {% if field.errors %}is-danger{% endif %}"
	       id="{{field.id_for_label}}"
	       type="{{ widget.input_type }}"
	       name="{{ field.name }}"
	       {% if field.value != None %} value="{{ field.value|stringformat:'s' }}"{% endif %}
	       {% include "attrs.html" %}>
      {% endif %}
    {% endwith %}
    {% for error in field.errors %}
      <p class="help has-text-danger">{{error}}</p>
    {% endfor %}
    {% if field.help_text %}
      <div class="help">{{ field.help_text|safe }}</div>
    {% endif %}
  </div>
{% endfor %}
