<nav class="navbar is-fixed-top is-link" >
  <div class="container" >
    <div class="navbar-brand" >
      <a class="navbar-item" href="/">
	<b class="is-size-5">{{request.site.setting.site_name}}</b>
      </a>
      <span class="navbar-burger" data-target="navbarmenuHeroA" >
	<span></span>
	<span></span>
	<span></span>
      </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu" >
      <div class="navbar-end" >
	{% include "main_menu.html" %}
      </div>
    </div>
  </div>
</nav>
