{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <section class="section">
    <div class="container" style="max-width:600px">
      <h1 class="title">{% translate "Set Password For" %} "{{object}}"</h1>
      <form method="post">
	{% csrf_token %}
	{{form}}
	<div class="field is-grouped">
	  <div class="control">
	    <button class="button is-primary" type="submit">{% translate "Submit" %}</button>
	  </div>
	  <div class="control">
	    <a href="javascript:window.history.back();" class="button">{% translate "Cancel" %}</a>
	  </div>
	</div>
      </form>
    </div>
  </section>
{% endblock %}
