{% extends "account/settings.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
  <h1 class="title">{% trans "Change Password" %}</h1>
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {{form}}
    <button type="submit" name="action" class="button is-primary">{% trans "Change Password" %}</button>
    <a href="{% url 'account_reset_password' %}" class="button is-white">{% trans "Forgot Password?" %}</a>
  </form>
{% endblock %}
